<template>
    <div class="content">
        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row page-title">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb" class="float-right mt-1">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Accueil</a></li>
                            <li class="breadcrumb-item"><a href="#">Automatisation</a></li>
                            <li class="breadcrumb-item active" aria-current="page"></li>
                        </ol>
                    </nav>
                    <h4 class="mb-1 mt-0">Automatisation</h4>
                </div>
            </div>

            <!-- tasks panel -->
            <div class="row">
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <!-- cta -->
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <a @click="showDialog()" href="#" class="btn btn-primary"><i
                                                    class='uil uil-plus mr-1'></i>Ajouter nouvelle</a>
                                        </div>
                                        <div class="col-sm-9">
                                            <div class="float-sm-right mt-3 mt-sm-0">
                                                
                                                <div class="task-search d-inline-block mb-3 mb-sm-0 mr-sm-3">
                                                    <form>
                                                        <div class="input-group">
                                                            <input type="text" class="form-control search-input"
                                                                placeholder="Search..." />
                                                            <span class="uil uil-search icon-search"></span>
                                                            <div class="input-group-append">
                                                                <button class="btn btn-soft-primary" type="button">
                                                                    <i class='uil uil-file-search-alt'></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="dropdown d-inline-block">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        <i class='uil uil-sort-amount-down'></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">Due Date</a>
                                                        <a class="dropdown-item" href="#">Added Date</a>
                                                        <a class="dropdown-item" href="#">Assignee</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row mt-4">
                                        <div class="col">
                                            <el-tabs v-model="activeName">
                                                <el-tab-pane label="Scene" name="first">
                                                      <el-alert
                                                            title="Scene"
                                                            type="info"
                                                            description="Scene vous permet de créer des environnements personnalisez en fonction de votre humeur"
                                                            show-icon>
                                                        </el-alert>
                                                </el-tab-pane>
                                                <el-tab-pane label="Routine" name="second">
                                                        <el-alert
                                                                title="Routine"
                                                                type="info"
                                                                description="Prorammez l'allumage et l'extinction de vos lampes avec routines"
                                                                show-icon>
                                                        </el-alert>
                                                        <div class="row mt-3">
                                                            <div class="board">
                                                                <div class="tasks border">
                                                                    <h5 class="mt-0 task-header header-title">Actives <span class="font-size-13">(3)</span>
                                                                    </h5>

                                                                    <div id="task-list-one" class="task-list-items">
                                                                        <!-- Task Item -->
                                                                        <div class="card border mb-0">
                                                                            <div class="card-body p-3">
                                                                                <div class="dropdown float-right">
                                                                                    <a href="#" class="dropdown-toggle text-muted arrow-none"
                                                                                        data-toggle="dropdown" aria-expanded="false">
                                                                                        <i class="uil uil-ellipsis-v font-size-14"></i>
                                                                                    </a>
                                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                                        <!-- item-->
                                                                                        <a href="javascript:void(0);" class="dropdown-item"><i
                                                                                                class="uil uil-edit-alt mr-2"></i>Edit</a>
                                                                                        <!-- item-->
                                                                                        <a href="javascript:void(0);" class="dropdown-item"><i
                                                                                                class="uil uil-user-plus mr-2"></i>Add
                                                                                            People</a>
                                                                                        <!-- item-->
                                                                                        <a href="javascript:void(0);"
                                                                                            class="dropdown-item text-warning"><i
                                                                                                class="uil uil-exit mr-2"></i>Leave</a>
                                                                                        <div class="dropdown-divider"></div>
                                                                                        <!-- item-->
                                                                                        <a href="javascript:void(0);"
                                                                                            class="dropdown-item text-danger"><i
                                                                                                class="uil uil-trash mr-2"></i>Delete</a>
                                                                                    </div>
                                                                                </div>
                                                                                <h6 class="mt-0 mb-2 font-size-15">
                                                                                    <a href="#" data-toggle="modal" data-target="#task-detail-modal"
                                                                                        class="text-body">iOS App home page</a>
                                                                                </h6>

                                                                                <span class="badge badge-soft-danger">High</span>

                                                                                <p class="mb-0 mt-4">
                                                                                    <img src="assets/images/users/avatar-2.jpg" alt="user-img"
                                                                                        class="avatar-xs rounded-circle mr-2" />

                                                                                    <span class="text-nowrap align-middle font-size-13 mr-2">
                                                                                        <i class="uil uil-comments-alt text-muted mr-1"></i>7
                                                                                    </span>

                                                                                    <span class="text-nowrap align-middle font-size-13">
                                                                                        <i class="uil uil-check-square mr-1 text-muted"></i>1/4
                                                                                    </span>
                                                                                    <small class="float-right text-muted">18 Jul 2019</small>
                                                                                </p>
                                                                            </div> <!-- end card-body -->
                                                                        </div>
                                                                        <!-- Task Item End -->
                                                                    </div>
                                                                </div>

                                                                <div class="tasks border">
                                                                    <h5 class="mt-0 task-header header-title">Inactives <span class="font-size-13">(2)</span>
                                                                    </h5>
                                                                    <div id="task-list-two" class="task-list-items">
                                                                        <!-- Task Item -->
                                                                        <div class="card border mb-0">
                                                                            <div class="card-body p-3">
                                                                                <div class="dropdown float-right">
                                                                                    <a href="#" class="dropdown-toggle text-muted arrow-none"
                                                                                        data-toggle="dropdown" aria-expanded="false">
                                                                                        <i class="uil uil-ellipsis-v font-size-14"></i>
                                                                                    </a>
                                                                                    <div class="dropdown-menu dropdown-menu-right">
                                                                                        <!-- item-->
                                                                                        <a href="javascript:void(0);" class="dropdown-item"><i
                                                                                                class="uil uil-edit-alt mr-2"></i>Edit</a>
                                                                                        <!-- item-->
                                                                                        <a href="javascript:void(0);" class="dropdown-item"><i
                                                                                                class="uil uil-user-plus mr-2"></i>Add
                                                                                            People</a>
                                                                                        <!-- item-->
                                                                                        <a href="javascript:void(0);"
                                                                                            class="dropdown-item text-warning"><i
                                                                                                class="uil uil-exit mr-2"></i>Leave</a>
                                                                                        <div class="dropdown-divider"></div>
                                                                                        <!-- item-->
                                                                                        <a href="javascript:void(0);"
                                                                                            class="dropdown-item text-danger"><i
                                                                                                class="uil uil-trash mr-2"></i>Delete</a>
                                                                                    </div>
                                                                                </div>
                                                                                <h6 class="mt-0 mb-2 font-size-15">
                                                                                    <a href="#" data-toggle="modal" data-target="#task-detail-modal"
                                                                                        class="text-body">Write a release note</a>
                                                                                </h6>

                                                                                <span class="badge badge-soft-success">Low</span>

                                                                                <p class="mb-0 mt-4">
                                                                                    <img src="assets/images/users/avatar-7.jpg" alt="user-img"
                                                                                        class="avatar-xs rounded-circle mr-2" />

                                                                                    <span class="text-nowrap align-middle font-size-13 mr-2">
                                                                                        <i class="uil uil-comments-alt text-muted mr-1"></i>11
                                                                                    </span>

                                                                                    <span class="text-nowrap align-middle font-size-13">
                                                                                        <i class="uil uil-check-square mr-1 text-muted"></i>4/11
                                                                                    </span>
                                                                                    <small class="float-right text-muted">22 Jul 2019</small>
                                                                                </p>
                                                                            </div> <!-- end card-body -->
                                                                        </div>
                                                                        <!-- Task Item End -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </el-tab-pane>
                                            </el-tabs>
                                        </div>
                                    </div>

                                    <div class="row mb-3 mt-5">
                                        <div class="col-12">
                                            <div class="text-center">
                                                <a href="javascript:void(0);" class="btn btn-white mb-3">
                                                    <i data-feather="loader" class="icon-dual icon-xs mr-2"></i>
                                                    Voir plus
                                                </a>
                                            </div>
                                        </div> <!-- end col-->
                                    </div>
                                    <!-- end row -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- task details -->
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="row pb-3 border-bottom">
                                <div class="col">
                                    <div class="dropdown float-right">
                                        <a href="#" class="dropdown-toggle arrow-none text-muted"
                                            data-toggle="dropdown" aria-expanded="false">
                                            <i class='uil uil-ellipsis-h'></i>
                                        </a>
                                    </div> <!-- end dropdown-->

                                    <div class="custom-control float-left">
                                        <label class="custom-control-label" for="completedCheck">
                                            Automatisation
                                        </label>
                                    </div> <!-- end custom-checkbox-->
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <h4 class="mt-3">Qu'est ce qu'automatisation ?</h4>


                                    <!-- task description -->
                                    <div class="row mt-3">
                                        <div class="col">
                                            <div id="taskDesk">
                                                <p>Bien que nous puissions contrôler les appareils à l'aide d'un smartphone, les maisons intelligentes peuvent faire quelque chose de plus. Un appareil ou un groupe d'appareils peut être programmé sur un paramètre spécifié qui peut être déclenché pour donner des environnements, des flux de travail ou des horaires personnalisés.</p>
                                                <p>Le volet Automatisation comprend 2 parties</p>
                                                <ul>
                                                    <li>Scenes.</li>
                                                    <li>Routine</li>
                                                </ul>
                                            </div>
                                        </div> <!-- end col -->
                                    </div>
                                    <!-- end task description -->

                                    <!-- start sub tasks/checklists -->
                                    <h5 class="mt-4 mb-2 font-size-16">Scenes</h5>
                                    <div class="custom-control mt-1">
                                        <label class="  ">
                                            Les scènes vous permettent de créer des environnements personnalisés en fonction de votre humeur. Une scène peut être déclenchée en appuyant sur le bouton Activer. Les scènes sont essentiellement des paramètres tiers dans notre application, elles ne peuvent donc pas être modifiées.
                                        </label>
                                    </div>
                                    <h5 class="mt-4 mb-2 font-size-16">Routines</h5>
                                    <div class="custom-control custom-checkbox mt-1">
                                        <input type="checkbox" class="custom-control-input" id="checklist1">
                                        <label class=" strikethrough" for="checklist1">
                                            Les scènes vous permettent de créer des environnements personnalisés en fonction de votre humeur. Une scène peut être déclenchée en appuyant sur le bouton Activer. Les scènes sont essentiellement des paramètres tiers dans notre application, elles ne peuvent donc pas être modifiées.
                                        </label>
                                    </div>
                                    <!-- end sub tasks/checklists -->
                                    <!-- end comments -->
                                </div> <!-- end col -->
                            </div> <!-- end row-->
                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <el-dialog
                title="Ajouter une Routine"
                :visible.sync="routineDialogVisible"
                width="30%"
                center>
                <el-form ref="form" >
                <el-form-item label="Nom de la Routines"> 
                    <el-input ></el-input>
                </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
                <el-button @click="centerDialogVisible = false">Annuler</el-button>
                <el-button type="primary" @click="centerDialogVisible = false">Valider</el-button>
                </span>
            </el-dialog>
        </div> <!-- container-fluid -->
    </div>
</template>
<script>
export default {
    data () {
        return {
            activeName : 'first',
            routineDialogVisible : false
        }
    },

    methods : {
        showDialog(){
            if(this.activeName =='second'){
                this.routineDialogVisible = true
            }
        }
    }
}
</script>