<template>
        <div class="account-pages my-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="row">
                                    <div class="col-md-6 p-5">
                                        <div class="mx-auto mb-5">
                                            <a href="index.html">
                                                <h3 class="d-inline align-middle ml-1 text-logo"><i class="el-icon-s-home text-primary"></i> SMART <span class="text-primary">HOME</span></h3>
                                            </a>
                                        </div>

                                        <h6 class="h5 mb-0 mt-4">De Retour!</h6>
                                        <p class="text-muted mt-1 mb-4">Entrez votre addresse email et votre mot de passe pour vous connectez.</p>

                                        <form action="#" @submit.prevent="login()" class="authentication-form">
                                            <div class="form-group">
                                                <label class="form-control-label">Addresse Email</label>
                                                <div class="input-group input-group-merge">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-dual el-icon-message"></i>
                                                        </span>
                                                    </div>
                                                    <input type="email" v-model="email" class="form-control" id="email" placeholder="koua.doe@gmail.com">
                                                </div>
                                            </div>

                                            <div class="form-group mt-4">
                                                <label class="form-control-label">Mot de passe</label>
                                                <a href="pages-recoverpw.html" class="float-right text-muted text-unline-dashed ml-1">Mot de passe oublié ?</a>
                                                <div class="input-group input-group-merge">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="icon-dual l-icon-lock" ></i>
                                                        </span>
                                                    </div>
                                                    <input type="password" class="form-control" id="password"
                                                        placeholder="Entrez votre mor de passe svp" v-model="password">
                                                </div>
                                            </div>

                                            <div class="form-group mb-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input"
                                                        id="checkbox-signin" checked>
                                                    <label class="custom-control-label" for="checkbox-signin">Se souvenir de moi</label>
                                                </div>
                                            </div>

                                            <div class="form-group mb-0 text-center">
                                                <button  class="btn btn-primary btn-block" type="submit"> Se connecter
                                                </button>
                                            </div>
                                        </form>
                                        <div class="py-3 text-center"><span class="font-size-16 font-weight-bold">Or</span></div>
                                        <div class="row">
                                            <div class="col-6">
                                                <a href="#" class="btn btn-white"><i class='uil uil-google icon-google mr-2'></i>With Google</a>
                                            </div>
                                            <div class="col-6 text-right">
                                                <a href="#" class="btn btn-white"><i class='uil uil-facebook mr-2 icon-fb'></i>With Facebook</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 d-none d-md-inline-block">
                                        <div class="auth-page-sidebar">
                                            <div class="overlay"></div>
                                            <div class="auth-user-testimonial">
                                                <p class="font-size-24 font-weight-bold text-white mb-1">C'est simple!</p>
                                                <p class="lead">"L'internet des objets c'est l"avenir!"</p>
                                                <p>KOUA Doe</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                        <div class="row mt-3" >
                            <div class="col-12 text-center">
                                <p class="text-muted">Don't have an account? <a href="pages-register.html" class="text-primary font-weight-bold ml-1">Sign Up</a></p>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
</template>

<script>
import axios from 'axios' 
export default {
    layout: 'second',

    data (){
        return {
            email : null,
            password : null
        }
    },
    methods : {
        login(){
            axios.post('http://127.0.0.1:5000/login' , {
                email : this.email,
                password : this.password
            }).then((response)=>{
                this.$store.commit('set_authenticated' , true)
                localStorage.setItem('hasiottoken', true);
                this.$router.push('/house' , () => {
                    this.$notify({
                        title: 'Bievenue',
                        dangerouslyUseHTMLString: true,
                        message: '<strong>Bienvenue Pavel Doe </strong>'
                    });
                })
            }).catch(error =>{
                this.$store.commit('set_authenticated' , false)
                this.$message.error('Oups, Echec d\'authentification.');
            })
        }
    }
}
</script>